.interet .conteneur{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.interet{
  background-image: url("../../images/bg-interet.jpg");
  background-attachment: fixed;
}