
h1 {

  font-family: Bungee Shade;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
}

h2 {
  font-family: Bungee Shade;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
}